In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("police.csv")

In [5]:
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [9]:
df.to_excel("aaaa.xlsx")

In [10]:
df.head(10)

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
5,2005-03-23,09:45,NaN,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
6,2005-04-01,17:30,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,2005-07-13,10:15,NaN,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
9,2005-07-13,15:45,NaN,M,1970.0,35.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [11]:
df.tail(5)

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [12]:
df.shape

(91741, 15)

In [14]:
df.info()

"""Now, if we want to know some more information about our dataset, 
we can use the “info()” function of pandas.
It displays various information about our data such as the column names, no. of non-null values 
in each column(feature), type of each column, memory usage, etc"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [6]:
df.describe()

       county_name  driver_age_raw    driver_age
count          0.0    86414.000000  86120.000000
mean           NaN     1970.491228     34.011333
std            NaN      110.914909     12.738564
min            NaN        0.000000     15.000000
25%            NaN     1967.000000     23.000000
50%            NaN     1980.000000     31.000000
75%            NaN     1987.000000     43.000000
max            NaN     8801.000000     99.000000

to_datetime()-       So, while reading a CSV file, the DateTime objects in the file are read 
as string objects and therefore, it’s a little difficult to perform DateTime operations like time difference on 
a string. So, this is where the pandas “to_datetime()” method comes into play. 
You can provide various formats as per your requirement.

In [7]:
import datetime as dt

In [8]:
df["stop_date"] = pd.to_datetime(df["stop_date"])
df["stop_time"] = pd.to_datetime(df["stop_time"], format= "%H:%M").dt.time

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  datetime64[ns]
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), datetime64[ns](1), float64(3), object(9)
memory usage: 9.3+ MB

In [20]:
df.head(5)

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55:00,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15:00,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15:00,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15:00,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [10]:
df.isnull().sum()

#   Using “isnull()” and “sum()” functions, we can find that the no. of null values in a 
#   DataFrame for every feature.

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [11]:
df.drop(["county_name"],axis=1,inplace=True)

Note- axis=1 (or axis='columns') is vertical axis. To take it further, if you use pandas method
drop, to remove columns or rows, if you specify axis=1 you will be removing columns. 
If you specify axis=0 you will be removing rows from dataset.

Note- When inplace = True , the data is modified in place, which means it will return nothing 
and the dataframe is now updated. When inplace = False , which is the default, 
then the operation is performed and it returns a copy of the object.

In [12]:
df.head(5)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55:00,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15:00,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15:00,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15:00,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [26]:
df["search_type"].value_counts()

#  This function is used to identify the different categories in a feature as well as the 
#  count of values per category.

Incident to Arrest                                          1219
Probable Cause                                               891
Inventory                                                    220
Reasonable Suspicion                                         197
Protective Frisk                                             161
Incident to Arrest,Inventory                                 129
Incident to Arrest,Probable Cause                            106
Probable Cause,Reasonable Suspicion                           75
Incident to Arrest,Inventory,Probable Cause                   34
Incident to Arrest,Protective Frisk                           33
Probable Cause,Protective Frisk                               33
Inventory,Probable Cause                                      22
Incident to Arrest,Reasonable Suspicion                       13
Incident to Arrest,Inventory,Protective Frisk                 11
Inventory,Protective Frisk                                    11
Protective Frisk,Reasonable Suspicion                         11
Incident to Arrest,Probable Cause,Protective Frisk            10
Incident to Arrest,Probable Cause,Reasonable Suspicion         6
Inventory,Reasonable Suspicion                                 4
Incident to Arrest,Inventory,Reasonable Suspicion              4
Inventory,Probable Cause,Protective Frisk                      2
Inventory,Probable Cause,Reasonable Suspicion                  2
Incident to Arrest,Protective Frisk,Reasonable Suspicion       1
Probable Cause,Protective Frisk,Reasonable Suspicion           1
Name: search_type, dtype: int64

In [27]:
df["violation"].value_counts()

Speeding               48463
Moving violation       16224
Equipment              11020
Other                   4317
Registration/plates     3432
Seat belt               2952
Name: violation, dtype: int64

In [ ]:
""" fillna()- 
Now, as we know that, by using the “isnull()” and “sum()” functions, 
we can check if our data has any missing values or not. 
So, now we can see that this “driver_gender” feature has 5335 nan or missing values. 
So, we will fill up the missing values using the mode(a value that appears most frequently 
in a data set) of this particular feature using the “fillna()” function.
"""

In [29]:
df["driver_gender"].isnull().sum()

5335

In [30]:
df["driver_gender"].fillna(df["driver_gender"].mode,inplace=True)

In [31]:
df["driver_gender"].isnull().sum()

0

In [32]:
df.head(10)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55:00,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15:00,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15:00,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15:00,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
5,2005-03-23,09:45:00,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
6,2005-04-01,17:30:00,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
7,2005-06-06,13:20:00,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,2005-07-13,10:15:00,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
9,2005-07-13,15:45:00,M,1970.0,35.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [35]:
df["driver_race"].nunique()

#  We can use the “nunique()” function to find the no. of unique values 
#  in our series or data frame. Generally, it is used in the case of categorical 
#  features to identify the no. of categories in a particular feature."""

5

In [41]:
df.columns 

# columns
# As the name suggests, “columns” get the name of all the features/columns in our data frame."""

Index(['stop_date', 'stop_time', 'driver_gender', 'driver_age_raw',
       'driver_age', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type', 'stop_outcome', 'is_arrested',
       'stop_duration', 'drugs_related_stop'],
      dtype='object')

In [45]:
df.nsmallest(4,"driver_age")

#   nsmallest() & nlargest()
#    So, as the name suggests, “nsmallest() & nlargest()” functions are used to obtain
#    “n” no. of rows from our dataset which are lowest or highest respectively."""

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
10500,2006-09-30,01:30:00,M,1991.0,15.0,Black,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,30+ Min,False
17771,2007-06-11,12:30:00,M,1992.0,15.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
18357,2007-07-04,00:40:00,F,1992.0,15.0,White,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,0-15 Min,False
25294,2008-04-21,11:19:00,M,1993.0,15.0,Hispanic,Other Traffic Violation,Moving violation,True,Incident to Arrest,Arrest Driver,True,30+ Min,False

In [46]:
df.nlargest(4,"driver_age")

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
71539,2013-09-08,09:50:00,F,1914.0,99.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,16-30 Min,False
75037,2014-02-14,10:21:00,M,1920.0,94.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
76956,2014-04-25,16:40:00,M,1924.0,90.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
74348,2014-01-18,13:07:00,F,1925.0,89.0,White,Equipment/Inspection Violation,Equipment,False,NaN,N/D,False,0-15 Min,False

duplicated()
We can use the “duplicated()” function to find all the duplicate rows in our dataset. And, then we can remove duplicate values using the drop_duplicates() function, as having too many duplicate values will affect the accuracy of our model at the later stage.

In [49]:
print(df.duplicated().sum())

479

In [50]:
df.drop_duplicates(inplace=True)

In [51]:
print(df.duplicated().sum())

0

select_dtypes()- We can separate the numerical and categorical features from our data frame and create new ones by using the “select_dtypes()” function and include “np.number” to select numerical columns whereas include “objects” for categorical columns.

In [54]:
import numpy as np
numerical_df = df.select_dtypes(include=[np.number])
numerical_df.head()

   driver_age_raw  driver_age
0          1985.0        20.0
1          1965.0        40.0
2          1972.0        33.0
3          1986.0        19.0
4          1984.0        21.0

In [62]:
categorical_df = df.select_dtypes(include="object")
categorical_df.head()

,stop_time,driver_gender,driver_race,violation_raw,violation,search_type,stop_outcome,is_arrested,stop_duration
0,01:55:00,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
1,08:15:00,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
2,23:15:00,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
3,17:15:00,M,White,Call for Service,Other,NaN,Arrest Driver,True,16-30 Min
4,10:00:00,F,White,Speeding,Speeding,NaN,Citation,False,0-15 Min

In [ ]:
# df.mean() | Returns the mean of all columns
# df.corr() | Returns the correlation between columns in a DataFrame
# df.count() | Returns the number of non-null values in each DataFrame column
# df.max() | Returns the highest value in each column
# df.min() | Returns the lowest value in each column
# df.median() | Returns the median of each column
# df.std() | Returns the standard deviation of each column

In [63]:
df.mean()

driver_age_raw        1970.497406
driver_age              34.012755
search_conducted         0.034921
is_arrested              0.033608
drugs_related_stop       0.008919
dtype: float64

In [64]:
df.corr()

,driver_age_raw,driver_age,search_conducted,drugs_related_stop
driver_age_raw,1.000000,-0.972477,0.014266,0.010815
driver_age,-0.972477,1.000000,-0.051331,-0.044910
search_conducted,0.014266,-0.051331,1.000000,0.498710
drugs_related_stop,0.010815,-0.044910,0.498710,1.000000

In [65]:
df.count()

stop_date             91262
stop_time             91262
driver_gender         91262
driver_age_raw        86145
driver_age            85852
driver_race           86139
violation_raw         86139
violation             86139
search_conducted      91262
search_type            3187
stop_outcome          86139
is_arrested           86139
stop_duration         86139
drugs_related_stop    91262
dtype: int64

In [66]:
df.max()

stop_date             2015-12-31 00:00:00
stop_time                        23:59:00
driver_age_raw                     8801.0
driver_age                           99.0
search_conducted                     True
is_arrested                          True
drugs_related_stop                   True
dtype: object

to_csv()
Now, we can save our DataFrame in a CSV file using the pandas “to_csv()” function. As we don’t want to store the preceding indices of each row, hence, we will set index=False.

In [61]:
df.to_csv("output.csv", index=False)